
:root {
  --li: #ece;
  --mid: #088;
  --dark: #759;
  --hi: #9fd;
  --acc: #faf;
}

* {
	vertical-align:center;
	text-align:center;
	font-family:monospace;
	cursor:url("/cursors/cursor.cur"),auto;
	padding:4px;
	margin:2px;
}

body {
	background-color:var(--mid);
	color:var(--dark);
}

header {
	background-color:var(--li);
	border:2px solid var(--acc);
}

main {
	background-color:var(--li);
	border:2px solid var(--acc);
}

footer {
	background-color:var(--li);
	border:2px solid var(--acc);
}

button {
	min-width:100px;
	width:15%;
	background-color:var(--hi);
	color:var(--dark);
	border:2px solid var(--acc);
	cursor:url("/cursors/cursor-link.ani"),auto;
	font-weight:bold;
	font-style:italic;
}

@media only screen and (max-width:400px) {
	button {
		width:100%;
	}
}

a {
	text-decoration:none;
	cursor:url("/cursors/cursor-link.ani"),auto;
	color:var(--hi);
	font-weight:bold;
	text-shadow:1px 1px 4px var(--dark);
}

.card {
	border:dotted 2px var(--acc);
}